<div class="container" ng-controller="propiedadCtrl">
    <div>
        <div>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">Agregar Propiedad</li>
            </ol>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-9">
            <h3>Agregar Propiedad</h3>
            <h6>-</h6>
        </div>
        <div class="col-xs-12 col-sm-9">
            <form class="form-horizontal" role="form" id="ingPropiedad" name="ingPropiedad">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tipo</label>
                    <div class="col-sm-5">
                        <label class="radio-inline">
                            <input type="radio" name="tipoalq" ng-click="hideControls('condominio')" value="condominio" checked>
                            <strong>Casa (Condomino)</strong>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="tipoalq" ng-click="hideControls('casa')" value="casa">
                            <strong>Casa (Residencial)</strong>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="condominio" class="col-sm-2 control-label">Condominio</label>
                    <div class="col-sm-10">
                        <select id="condominio" class="form-control" ng-model="selectedCondominio.condominioId"
                                ng-options="condominio._id as condominio.nombre for condominio in condominios"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tipo</label>
                    <div class="col-sm-5">
                        <label class="radio-inline">
                            <input type="radio" name="venta" value="venta" ng-model="formPropiedad.isVenta">
                            <strong>Venta</strong>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="venta" value="alquiler" checked>
                            <strong>Alquiler</strong>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="direccion" class="col-sm-2 control-label">Dirección</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="direccion" name="feedback" rows="6" ng-model="formPropiedad.direccion" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tipo 2</label>
                    <div class="col-sm-5">
                        <label class="radio-inline">
                            <input type="radio" name="iscorredor" value="" ng-model="formPropiedad.isPropietario">
                            <strong>Corredor</strong>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="iscorredor" value="" checked>
                            <strong>Propietario</strong>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telnum" class="col-xs-12 col-sm-2 control-label">Teléfono</label>
                    <div class="col-xs-7 col-sm-6 col-md-7">
                        <input type="tel" class="form-control" id="telnum" name="telnum" ng-model="formPropiedad.telefono" placeholder="Teléfono" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="comision" class="col-sm-2 control-label">Comision</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="comision" name="comision" ng-model="formPropiedad.comision" placeholder="Comision" required>
                    </div>
                    <label for="cuota" class="col-sm-2 control-label cuotamant" ng-show="isCondominio">Cuota Mant.</label>
                    <div class="col-sm-4 cuotamant" ng-show="isCondominio">
                        <input type="number" class="form-control cuotamant" ng-show="isCondominio" ng-model="formPropiedad.cuotaMant" id="cuota" name="cuota" placeholder="Cuota Mantenimiento">
                    </div>
                    <label for="cuotaseg" class="col-sm-2 control-label cuotaseg" ng-show="isCasaResindencial">Cuota Seg.</label>
                    <div class="col-sm-4 cuotaseg" ng-show="isCasaResindencial">
                        <input type="number" class="form-control cuotaseg" id="cuotaseg" name="cuotaseg" ng-model="formPropiedad.cuotaSeg" ng-show="isCasaResindencial" placeholder="Cuota Seguridad">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lote" class="col-sm-2 control-label">Lote</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" ng-model="formPropiedad.lote" id="lote" name="lote" placeholder="Lote" required>
                    </div>
                    <label for="const" class="col-sm-2 control-label">Const</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="const" ng-model="formPropiedad.const" name="const" placeholder="Const" required>
                    </div>
                    <label for="anos" class="col-sm-2 control-label">Años</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="anos" ng-model="formPropiedad.anos" name="anos" placeholder="Años" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="niv" class="col-sm-2 control-label">Niveles</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="niv" ng-model="formPropiedad.niveles" name="niv" placeholder="Niveles" required>
                    </div>
                    <label for="garg" class="col-sm-2 control-label">Garage</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="garg" ng-model="formPropiedad.garage" name="garg" placeholder="Garage" required>
                    </div>
                    <label for="hab" class="col-sm-2 control-label">Habitaciones</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="hab" ng-model="formPropiedad.habitaciones" name="hab" placeholder="Habitaciones" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="bn" class="col-sm-2 control-label">Baños</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="bn" name="bn" ng-model="formPropiedad.banos" placeholder="Baños" required>
                    </div>
                    <label for="ofic" class="col-sm-2 control-label">Oficina</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="ofic" id="ofic" type="checkbox" ng-model="formPropiedad.oficina">
                            </label>
                        </div>
                    </div>
                    <label for="terra" class="col-sm-2 control-label">Terra</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="terra" id="terra" type="checkbox" ng-model="formPropiedad.terra">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="patio" class="col-sm-2 control-label">Patio</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="patio" id="patio" type="checkbox" ng-model="formPropiedad.patio">
                            </label>
                        </div>
                    </div>
                    <label for="sal" class="col-sm-2 control-label">Sala</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="sal" id="sal" type="checkbox" ng-model="formPropiedad.sala">
                            </label>
                        </div>
                    </div>
                    <label for="antecom" class="col-sm-2 control-label">Ante-Com</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="antecom" id="antecom" type="checkbox" ng-model="formPropiedad.anteComedor">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ctoserv" class="col-sm-2 control-label">CTO-Serv</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="ctoserv" id="ctoserv" type="checkbox" ng-model="formPropiedad.ctoServ">
                            </label>
                        </div>
                    </div>
                    <label for="saltv" class="col-sm-2 control-label">Sal-TV</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="saltv" id="saltv" type="checkbox" ng-model="formPropiedad.salaTv">
                            </label>
                        </div>
                    </div>
                    <label for="coc" class="col-sm-2 control-label">Cocina</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="coc" id="coc" type="checkbox" ng-model="formPropiedad.cocina">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ctopilas" class="col-sm-2 control-label">CTO-Pilas</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="ctopilas" id="ctopilas" type="checkbox" ng-model="formPropiedad.ctoPilas">
                            </label>
                        </div>
                    </div>
                    <label for="bodega" class="col-sm-2 control-label">Bodega</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="bodega" id="bodega" type="checkbox" ng-model="formPropiedad.bodega">
                            </label>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="otros" class="col-sm-2 control-label">Otros</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="otros" name="otros" rows="4" ng-model="formPropiedad.otros"></textarea>
                    </div>
                </div>
                <div class="form-group" id="areacomp" ng-show="isCondominio">
                    <label for="otros" class="col-sm-2 control-label">Área Comp.</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="areacom" name="areacom" ng-model="formPropiedad.areaComp" placeholder="Área Compartida">
                    </div>
                </div>
                <div class="form-group">
                    <label for="observaciones" class="col-sm-2 control-label">Observaciones</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="observaciones" name="observaciones" ng-model="formPropiedad.observaciones" rows="12"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-click="createPropiedad()">Agregar Propiedad</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
        </div>
    </div>

</div>