<div class="container" ng-controller="clienteCtrl">
    <div>
        <div>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">Agregar Cliente</li>
            </ol>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-9">
            <h3>Agregar Cliente</h3>
            <h6>-</h6>
        </div>
        <div class="col-xs-12 col-sm-9">
            <form class="form-horizontal" role="form" id="ingCliente">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tipo</label>
                    <div class="col-sm-5">
                        <label class="radio-inline">
                            <input type="radio" name="tipoalq" value="compra">
                            <strong>Compra</strong>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="tipoalq" value="alquiler">
                            <strong>Alquiler</strong>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nombre" class="col-xs-12 col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label for="telnum" class="col-xs-12 col-sm-2 control-label">Teléfono</label>
                    <div class="col-sm-5">
                        <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Teléfono">
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="telnum2" name="telnum2" placeholder="Teléfono 2">
                    </div>
                </div>
                <div class="form-group">
                    <label for="referido" class="col-sm-2 control-label">Referido</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="referido" id="referido" type="checkbox">
                            </label>
                        </div>
                    </div>
                    <label for="telnumref" class="col-sm-2 control-label">Teléfono</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="telnumref" name="telnumref" placeholder="Teléfono Referido">
                    </div>
                </div>
                <div class="form-group">
                    <label for="comision" class="col-sm-2 control-label">Comisión</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="comision" name="comision" placeholder="Comisión">
                    </div>
                    <label for="fecha" class="col-sm-2 control-label">Fecha</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" id="fecha" name="fecha">
                    </div>
                </div>
                <div class="form-group">
                    <label for="casa" class="col-sm-2 control-label">Casa</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="casa" id="casa" type="checkbox">
                            </label>
                        </div>
                    </div>
                    <label for="condominio" class="col-sm-2 control-label">Condominio</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="condominio" id="condominio" type="checkbox">
                            </label>
                        </div>
                    </div>
                    <label for="lote" class="col-sm-2 control-label">Lote</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="lote" id="lote" type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="otroscliente" class="col-sm-2 control-label">Otros</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="otroscliente" name="otroscliente" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="niv" class="col-sm-2 control-label">Niveles</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="niv" name="niv" placeholder="Niveles">
                    </div>
                    <label for="garg" class="col-sm-2 control-label">Garage</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="garg" name="garg" placeholder="Garage">
                    </div>
                    <label for="hab" class="col-sm-2 control-label">Habitaciones</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="hab" name="hab" placeholder="Habitaciones">
                    </div>
                </div>
                <div class="form-group">
                    <label for="bn" class="col-sm-2 control-label">Baños</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="bn" name="bn" placeholder="Baños">
                    </div>
                    <label for="ofic" class="col-sm-2 control-label">Oficina</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="ofic" id="ofic" type="checkbox">
                            </label>
                        </div>
                    </div>
                    <label for="terra" class="col-sm-2 control-label">Terra</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="terra" id="terra" type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="patio" class="col-sm-2 control-label">Patio</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="patio" id="patio" type="checkbox">
                            </label>
                        </div>
                    </div>
                    <label for="sal" class="col-sm-2 control-label">Sala</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="sal" id="sal" type="checkbox">
                            </label>
                        </div>
                    </div>
                    <label for="antecom" class="col-sm-2 control-label">Ante-Com</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="antecom" id="antecom" type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ctoserv" class="col-sm-2 control-label">CTO-Serv</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="ctoserv" id="ctoserv" type="checkbox">
                            </label>
                        </div>
                    </div>
                    <label for="saltv" class="col-sm-2 control-label">Sal-TV</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="saltv" id="saltv" type="checkbox">
                            </label>
                        </div>
                    </div>
                    <label for="coc" class="col-sm-2 control-label">Cocina</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="coc" id="coc" type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ctopilas" class="col-sm-2 control-label">CTO-Pilas</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="ctopilas" id="ctopilas" type="checkbox">
                            </label>
                        </div>
                    </div>
                    <label for="bodega" class="col-sm-2 control-label">Bodega</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input name="bodega" id="bodega" type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="otros" class="col-sm-2 control-label">Otros</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="otros" name="otros" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="observaciones" class="col-sm-2 control-label">Observaciones</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="observaciones" name="observaciones" rows="12"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Agregar Cliente</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
        </div>
    </div>

</div>