<div class="container" ng-controller="propiedadCtrl">
    <div>
        <div>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">Lista De Propiedades</li>
            </ol>
        </div>
    </div>

    <div class="row row-content" ng-init="listaPropiedades()">
        <div class="col-xs-12 col-sm-9">
            <h3>Lista De Propiedades</h3>
        </div>
        <div class="col-xs-12 col-sm-12">
            <table id="table"></table>
        </div>
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
        </div>
    </div>
</div>